<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Привет METANIT.COM!</h2>
    <a href="Home/Page1">Page1 -> About</a>
    <br>
    <a href="Home/Time">Time</a>
    <br>
</body>
</html>
