<h2>User Form</h2>
<form method="post" action="UserFormHandler">
    <p>
        <label>User Name:</label><br />
        <input type="text" name="username" />
    </p>
    <p>
        <label>Password:</label><br />
        <input type="password" name="password" />
    </p>
    <p>
        <label>Age:</label><br />
        <input type="number" name="age" />
    </p>
    <p>
        <label>Comment:</label><br />
        <textarea name="comment"></textarea>
    </p>
    <p>
        <label>Is Married:</label>
        <input type="checkbox" name="isMarried" value="true" /><br /><br />
    </p>
    <p>
        <input name="color" type="radio" value="red" />
        <span>red</span> <br />
        <input name="color" type="radio" value="blue" />
        <span>blue</span> <br />
        <input checked="checked" name="color" type="radio" value="green" />
        <span>green</span>
    </p>
    <p>
        <label for="language">Выберите язык:</label>
        <select name="language">
            <option value="csharp">C#</option>
            <option value="vbnet">Visual Basic.NET</option>
            <option value="fsharp">F#</option>
            <option value="typescript">TypeScript</option>
        </select>
    </p>
    <p>
        <label for="languages">Выберите несколько языков:</label>
        <select multiple name="languages">
            <option value="csharp">C#</option>
            <option value="vbnet">Visual Basic.NET</option>
            <option value="fsharp">F#</option>
            <option value="typescript">TypeScript</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>