@{
    ViewData["Title"] = "ASP.NET Core MVC";
}
<!DOCTYPE html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <a href="Home/Page1">Page1 (DataView)</a>
    <br>
    <a href="Home/Page2">Page2 (ViewBag)</a>
    <br>
    <a href="Home/Page3">Page3 (ViewModel)</a>
    <br>
</body>
</html>
